html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.rest-of-page-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
}
