body {
  background-color: rgb(210, 233, 250);
  margin: 0;
}

.dashboard-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.dashboard-container {
  width: 700px;
  height: 650px;
  margin: 0 auto;
  padding: 4rem;
  background-color: #ffffff;
  border-radius: 8px;
}

.dashboard-title {
  margin-bottom: 1.3rem;
  font-size: 2rem;
  color: #030E8A;
}

.user-details {
  margin-bottom: 2rem;
  color: #555;
  font-size: 1.2rem;
}

.dashboard-container nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-links {
  display: block;
  padding: 0.75rem 1rem;
  background-color: #216297;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  
}

.dashboard-links:hover {
  background-color: #2F7DBD;
}
