body {
    background-color: #077992;
}

.login-page-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-inner-container {
    background-color: #f9f9f9;
}

