.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.product-image {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.product-card-body {
  padding-top: 0.75rem;
}

.product-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.45rem;
  margin-left: 0.6rem;
  color: #514e4e;
  text-decoration: underline;
}

.product-description {
  font-size: 0.95rem;
  color: #666;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.55rem;
  margin-left: 0.6rem
}

.product-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.65rem;
  margin-left: 0.6rem;
  color: #666;
}

.product-button {
  padding: 0.45rem 0.45rem;
  border-radius: 6px;
  border: none;
  background-color: #0aa0c1;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-button:hover {
  background-color: #d5c668;
}