body {
    background-color: #ffffff;
}
.product-page {
    background-color: #ffffff;
    max-width: 68rem;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.product-layout {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 2rem;
    align-items: flex-start;
}

.product-images-grid {
    display: grid;
    gap: 1rem;
}

.product-page-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem
}

.product-info{
    position: sticky;
    top: 5rem;
    margin-top: 1rem;
}

.product-info h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
}

.description-title {
    color: #067188;
    margin-top: 1rem;
}

.description-price {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0c6dbd
}

.description-title2 {
    color: #AE9309;
    text-decoration: none;
}

.description-paragraph {
    color: #0c6dbd;
    font-weight: 550;
}

.description-section {
    margin-top: 1.25rem;
    color: #0c6dbd;
}

.description-section h3 {
    margin: 0 0 0.25rem 0;
}

.shop-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color:  #067188;
    font-weight: bold;
    font-size: 1.1rem;
}

.shop-link:hover {
  color: #AE9309;
}

.arrow {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.15rem;
}

.product-info button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (max-width: 56rem) {
  .product-layout {
    grid-template-columns: 1fr;
  }
  .product-info {
    position: static;
  }
}
